.ganttContainer {
  width: 100%;
  height: initial;
  padding: 1rem;
}

.ganttHeader {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 1rem;
}

.ganttData{
  padding: 1rem;
}

.filters {
  width: 20%;
  height: 100%;
  padding-right: 1rem;
}

.months {
  height: 100%;
}

.month {
  height: 100%;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}

.monthName {
  padding: 0.5rem 0;
}

.weeks {
  width: 100%;
  border-top: 1px solid rgb(209, 209, 209);
}

.week{
  width: calc(100% / 4);
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.ganttData {
  width: 100%;
}

.sprint {
  width: 100%;
}

.milestone {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 1rem 0;
}

.milestoneDetails {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgb(209, 209, 209);
}

.milestoneGraph {
  position: relative;
  border: var(--gray-border);
  border-radius: 5px;
  height: 100%;
}

.milestoneSegment {
  position: absolute;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  overflow: hidden;
}

.sprintHoverCard {
  background-color: #fff;
  width: 300px;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.sprintHoverCard[data-side='top'] {
  animation-name: slideDownAndFade;
}
.sprintHoverCard[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.sprintHoverCard[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.sprintHoverCard[data-side='left'] {
  animation-name: slideRightAndFade;
}

.hoverCardArrow {
  fill: white;
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}